@import "./variables.scss";

@mixin reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// COMMENT
// In ideal case we need to have own variables here
// but bootstrap gives a good set of colors
// and I decided to save time
@mixin vertical-list {
  @include reset-list;
  &-item {
    transition: background-color 500ms ease, color 300ms ease;
    &.is-active,
    &:active,
    &:focus,
    &:hover {
      background-color: var(--gray);
      color: var(--light);
      cursor: hand;
      cursor: pointer;
      .mobile-nav-list-item-link,
      .sidebar-menu-item-link {
        color: var(--light);
      }
    }
    &-link {
      color: var(--gray-dark);
      font-weight: bold;
      text-decoration: none;
      &:active,
      &:focus,
      &:hover {
        color: var(--light);
        text-decoration: underline;
      }
    }
    &-icon {
      margin-right: $widthItem * 0.5;
    }
  }
}

@mixin movie-poster {
  border: 1px solid $movieItemBorderColor;
  border-radius: 15px;
  padding-bottom: $widthItem * 3.5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @extend %shadow-full;
}

@mixin movie-item {
  &-description {
    text-align: left;
    color: $movieItemTextColor;
    &-genre-link {
      cursor: pointer;
      text-decoration: underline;
      color: $movieItemTextColor;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: lighten($movieItemTextColor, 25%);
      }
    }
  }
  &-icon {
    @include movie-poster;
  }
  &-box {
    &-toprated {
      width: 100%;
      @media only screen and (min-width: 576px) {
        width: 50%;
      }
      @media only screen and (min-width: 992px) {
        width: 33%;
      }
    }
  }
}
