// COMMENT
// All sizes (padding, margins, font-sizes) should be relative
$widthItem: 1.6rem;
$overlayBG: grey;

$fontRed: #cc1e0e;
$movieItemTextColor: #444;
$movieItemBorderColor: #4d4d4d;
$movieStarColor: #f0ff17;

// this height should be in both places in SCSS namespace
// and in Angular namespace. If it's only in Angular we can't use media queries
// if it's only in SCSS we can't use it in animations
// trying to avoid this leads to unbelivable tricks and hacks
// and makes the code much harder to read
$navBarHeight: 92px;

%shadow-b {
  -webkit-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
}

%shadow-r {
  -webkit-box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
}

%shadow-full {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

%shadow-text {
  text-shadow: 2px 2px #ff0000;
}
