<div class="row">
  <div class="col-sm pb-3">
    <a [routerLink]="['/movie']"><-- Back to the list</a>
  </div>
</div>

<div *ngIf="movie">
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div
        class="embed-responsive embed-responsive-1by1 movie-icon mb-3"
        [ngStyle]="{ 'background-image': getBGImage(movie) }"
      ></div>
    </div>
    <div class="col-md-6 col-lg-8">
      <h1>{{ movie.name | titlecase }}</h1>
      <p>
        <strong>Rating</strong>: {{ movie.rate }}
        <fa-icon
          *ngIf="happyMovie(movie.rate)"
          icon="smile"
          size="lg"
          class="pl-1"
        ></fa-icon>
        <fa-icon
          *ngIf="!happyMovie(movie.rate)"
          icon="frown"
          size="lg"
          class="pl-1"
        ></fa-icon>
      </p>
      <p>{{ movie.description }}</p>
      <p *ngIf="movie.length"><strong>Length</strong>: {{ movie.length }}</p>
      <small *ngFor="let genre of movie.genres; let i = index">
        <a>{{ genre | titlecase }}</a>
        <span *ngIf="i < movie.genres.length - 1">&#44;&nbsp;</span>
      </small>
    </div>
  </div>
</div>

<div *ngIf="error">
  <div class="row">
    <div class="col-sm">
      <h2>{{ error | titlecase }}</h2>
      <div class="h4">Sorry, something went wrong</div>
    </div>
  </div>
</div>
