<div
  class="embed-responsive embed-responsive-1by1 movie-item-icon mb-3"
  [ngStyle]="{ 'background-image': getBGImage(movie) }"
></div>
<div class="movie-item-description">
  <div class="movie-item-description-row">
    <a
      [routerLink]="['/movie/', movie.key]"
      [title]="'Read full info about &#171;' + movie.name + '&#187; movie'"
      >{{ movie.name }}</a
    >
  </div>
  <div class="movie-item-description-row">
    <small *ngFor="let genre of movie.genres; let i = index">
      <a
        (click)="setActiveGenre(genre)"
        class="movie-item-description-genre-link"
        [title]="'Show all the movies of ' + genre"
        >{{ genre | titlecase }}</a
      >
      <span *ngIf="i < movie.genres.length - 1">&#44;&nbsp;</span>
    </small>
  </div>
  <div class="movie-item-description-row">
    <small>
      Rating:
      {{ movie.rate }}
      <fa-icon
        *ngIf="happyMovie(movie.rate)"
        icon="smile"
        size="lg"
        class="pl-1"
      ></fa-icon>
      <fa-icon
        *ngIf="!happyMovie(movie.rate)"
        icon="frown"
        size="lg"
        class="pl-1"
      ></fa-icon>
    </small>
  </div>
</div>
