<div class="sidebar-wrapper">
  <h1 class="sidebar-title">Cybermovie</h1>
  <div class="h3">Genres:</div>
  <ul class="sidebar-menu">
    <li
      *ngFor="let genre of genres"
      class="sidebar-menu-item pl-3 pr-3 pt-4 pb-4"
      (click)="setActive(genre.name)"
      [ngClass]="genre.name === activeGenre ? 'is-active' : ''"
    >
      <a class="sidebar-menu-item-link"
        ><fa-icon
          class="sidebar-menu-item-icon"
          icon="{{ genre.icon }}"
        ></fa-icon
        >{{ genre.name | titlecase }}</a
      >
    </li>
  </ul>
</div>
