<!-- There is a special class for this in Bootstrap3           -->
<!-- visible-xs and it will be hidden in all other resolutions -->
<div class="d-block d-sm-none d-md-none d-lg-none">
  <app-navbar [genres]="genres"></app-navbar>
</div>

<main class="h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="d-none d-sm-block col-sm-5 col-md-4 pb-4 pt-4">
        <div
          class="bg-light column column-left"
          [@bounceSlideAnim]="{
            value: sidePanelState,
            params: {
              translateHidden: 'translateX(-133%)',
              translateVisible: 'translateX(0)'
            }
          }"
        >
          <app-side-bar [genres]="genres"></app-side-bar>
        </div>
      </div>
      <div class="col-xs col-sm-7 col-lg-8 pb-4 pt-4 column column-right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
