@import "../../styles/variables.scss";

main {
  @media only screen and (max-width: 575px) {
    margin-top: $navBarHeight;
  }
}

.column {
  &-left {
    height: 100%;
    border-right: 1px solid var(--dark);
    @extend %shadow-r;
  }
}
