@import "../../../../styles/mixins.scss";

.movie-list-wrapper {
  &-sortbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    .sort-icon {
      cursor: pointer;
      &.is-active {
        color: $fontRed;
        text-decoration: underline;
      }
    }
    @media only screen and (max-width: 575px) {
      display: block;
    }
  }
  &-toprated {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.movie-item {
  @include movie-item;
}
