<div *ngIf="!activeGenre; else elseBlock">
  <div class="row">
    <div class="col-sm">
      <h2>Top rated movies</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center mt-3 mb-5">
      <div class="stars-wrapper">
        <fa-icon icon="star" size="4x"></fa-icon>
        <fa-icon icon="star" size="4x"></fa-icon>
        <fa-icon icon="star" size="4x"></fa-icon>
      </div>
    </div>
  </div>
  <!-- COMMENT -->
  <!-- Empty array is false as well, so this condition is safe -->
  <div class="row" *ngIf="movies">
    <div class="col-sm">
      <div
        class="movie-list-wrapper-toprated"
        [@fadeAnimList]="moviesListState"
      >
        <div
          *ngFor="let m of movies"
          class="movie-item-box movie-item-box-toprated pb-5 pl-3 pr-3"
        >
          <app-movie-item [movie]="m"></app-movie-item>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <h2>{{ activeGenre | titlecase }}</h2>
  <div class="row">
    <div class="col-sm">
      <div
        class="movie-list-wrapper-sortbox pt-3 pb-3"
        *ngIf="movies && movies.length > 1"
      >
        <div class="sort-icon pr-4">Sort by</div>
        <div
          class="sort-icon"
          (click)="updateSortValue('rate')"
          [ngClass]="sortValue === 'rate' ? 'is-active' : ''"
        >
          Rating
          <fa-icon icon="star" size="sm" class="pl-2 pr-4"></fa-icon>
        </div>
        <div
          class="sort-icon"
          (click)="updateSortValue('name')"
          [ngClass]="sortValue === 'name' ? 'is-active' : ''"
        >
          Name
          <fa-icon icon="text-height" size="sm" class="pl-2 pr-4"></fa-icon>
        </div>
      </div>
      <div class="form-group">
        <label for="InputKeyword">Keyword</label>
        <input
          type="text"
          [(ngModel)]="searchText"
          (ngModelChange)="onSearchTextChange($event)"
          class="form-control"
          id="InputKeyword"
          aria-describedby="keywordHelp"
          placeholder="Search by keyword"
        />
        <small id="keywordHelp"
          >Find the given keyword in the movies names</small
        >
      </div>
    </div>
  </div>
  <div class="row" *ngIf="movies" [ngClass]="movies.length <= 1 ? 'pt-3' : ''">
    <div class="col-sm">
      <div
        [ngClass]="
          movies.length > 1
            ? 'movie-list-wrapper-toprated'
            : 'movie-list-wrapper'
        "
        [@fadeAnimList]="moviesListState"
      >
        <div
          *ngFor="let m of movies"
          class="movie-item-box movie-item-box-toprated pb-5 pl-3 pr-3"
        >
          <app-movie-item [movie]="m"></app-movie-item>
        </div>
      </div>
    </div>
  </div>
</ng-template>
