@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.navbar {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @extend %shadow-b;
  &-brand {
    // COMMENT
    // I really tried to make it look in CyberPunk style
    // but it looked in Jypsy style instead
    // And I decided to use another font
    //font-family: "Cyberpunk", Arial;
    font-family: "VT323", Arial;
    font-size: $widthItem * 1.7;
  }
  &-bordered {
    border-bottom: 1px solid var(--gray);
    box-shadow: none;
  }
}

.mobile-nav {
  z-index: 998;
  position: fixed;
  width: 100%;
  height: auto;
  max-height: calc(100vh - #{$navBarHeight});
  overflow-y: scroll;
  top: 0;
  left: 0;
  @extend %shadow-b;

  &-list {
    @include vertical-list;
  }
}
