<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  [@bounceSlideAnim]="{
    value: navBarState,
    params: {
      translateHidden: 'translateY(-' + navBarHeight + 'px)',
      translateVisible: 'translateY(0)'
    }
  }"
  [ngClass]="[
    mobileMenuClosed && mobileMenuActive ? 'navbar-bordered' : '',
    !mobileMenuClosed ? 'navbar-bordered' : ''
  ]"
>
  <a class="navbar-brand" href="/">Cybermovie</a>
  <app-burger-button
    [active]="mobileMenuActive"
    (clicked)="burgerClicked($event)"
  ></app-burger-button>
</nav>

<div
  class="mobile-nav bg-light"
  [@slideAnim]="{
    value: navMenuState,
    params: {
      translateHidden: 'translateY(-100%)',
      translateVisible: 'translateY(' + navBarHeight + 'px)'
    }
  }"
  (@slideAnim.done)="animComplete($event)"
  [ngClass]="mobileMenuActive ? 'is-active' : ''"
>
  <ul class="mobile-nav-list">
    <li
      *ngFor="let genre of genres"
      class="mobile-nav-list-item pl-3 pr-3 pt-4 pb-4"
      (click)="setActive(genre.name)"
      [ngClass]="genre.name === activeGenre ? 'is-active' : ''"
    >
      <a class="mobile-nav-list-item-link"
        ><fa-icon
          class="mobile-nav-list-item-icon"
          icon="{{ genre.icon }}"
        ></fa-icon
        >{{ genre.name | titlecase }}</a
      >
    </li>
  </ul>
</div>
