@import "../../../styles/variables.scss";

.overlay {
  z-index: 9999;
  background-color: $overlayBG;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.spinner-wrapper {
  z-index: 10000;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  &-icon {
    margin-right: $widthItem * 0.5;
    display: inline-block;
    @media only screen and (min-width: 576px) {
      font-size: $widthItem * 2;
    }
  }
  &-label {
    @media only screen and (min-width: 576px) {
      font-size: $widthItem * 2;
    }
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotate-loop {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
